body{
  background-color: #207480;
}
.title{
  text-align: center;
  margin: 25px, auto;
  color: white;
  font-size: 60px;
}
.container{
  margin-top: 25px;
}
.form-control{
  background-color: #124147;
  color: #40E9FF
}

.show{
  background-color:#39D1E6;
  color: white;
  border: 2px, solid, white;
  border-radius: .25rem;;
}